.redefinir-senha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .redefinir-senha-container h2 {
    text-align: center;
    font-size: 2rem;
    color: #1e73be;
    margin-bottom: 30px;
  }
  
  .redefinir-senha-container form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .redefinir-senha-container .form-group {
    margin-bottom: 20px;
  }
  
  .redefinir-senha-container .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: 5px;
    outline: none;
  }
  
  .redefinir-senha-container .form-group input:focus {
    border-color: #4254cb;
    box-shadow: 0 0 5px rgba(66, 84, 203, 0.5);
  }
  
  .redefinir-senha-container button.btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: #1e73be;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .redefinir-senha-container button.btn-primary:hover {
    background-color: #1e41a5;
  }
  
  .redefinir-senha-container .mensagem-sucesso {
    color: green;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .redefinir-senha-container .mensagem-erro {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }

  /* Estilos para o overlay (fundo escurecido) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilos para o modal (a janela em si) */
.modal {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  text-align: center;
  max-width: 95%;
  width: 450px;
}

.modal p.mensagem-sucesso {
  color: black; 
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* Estilos para o botão de fechar (Ir para Login) */
.btn-fechar-modal {
  padding: 12px 18px;
  background-color: #6a5acd; /* Roxo arroxeado */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.05rem;
}

.btn-fechar-modal:hover {
  background-color: #483d8b;
}


  
  @media (max-width: 768px) {
    .redefinir-senha-container form {
      padding: 25px;
      max-width: 90%;
    }
  }