/* configuracao.css */
.form-container-config {
    padding: 30px;
    max-width: 600px; /* Ajustei a largura máxima para o formulário */
    margin: 30px auto; /* Centraliza o formulário na página */
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container-config h2 {
    text-align: center;
    font-size: 2rem;
    color: #1e73be;
    margin-bottom: 25px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 3px;
    outline: none;
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .form-group fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .form-group fieldset legend {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    padding: 0 10px;
  }
  
  .form-group fieldset label {
    display: inline-block;
    margin-right: 15px;
  }
  
  .botao {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    background-color: #1e73be;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .botao:hover {
    background-color: #006bb3;
  }
  
  
  @media (max-width: 768px) {
    .form-container-config {
      width: 95%;
      margin: 20px auto;
      padding: 20px;
    }
  
    .form-container-config h2 {
      text-align: center;
    }
  }
